<aside class="main-header">
  <header class="module">
    <h1><a href="/" class="main-title">{{ site.title }}</a></h1>
  </header>
  <div class="module site-description color2">
    {{ site.description }}
  </div>
  <nav class="module color4">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/contact/">Contact</a>
  </nav>
  <div class="module color3">
    <a href="www.github.com/erasebegin"><i class="fab fa-github-alt"></i></a>
    <br><a href="mailto:chris.james.haupt@gmail.com">{{ site.email }}</a>
  </div>
</aside>
