<aside class="main-header">
  <header class="module">
    <h1><a href="/js-journal/" class="main-title">{{ site.title }}</a></h1>
  </header>
  <div class="module site-description color2">
    {{ site.description }}
  </div>
  <nav class="module color4">
    <a class="about-btn" href="/js-journal/about/">About</a>
  </nav>
  <div class="contact module color3">
    <a class="contact-btn" href="www.github.com/erasebegin"><i class="fab fa-github-alt"></i></a>
    <a class="contact-btn" href="mailto:chris.james.haupt@gmail.com"><i class="fas fa-envelope"></i></a>
  </div>
</aside>
