.color1 {
    background: $blue;
}
.color2 {
    background: $yellow;
}
.color3 {
    background: white;
}
.color4 {
    background: $pink;
}


/*****************************************************************************/
/*
/* Basic
/*
/*****************************************************************************/

body {
    margin: 0;
    font-family: $base-font-family;
    font-size: $base-font-size;
    background-image: url(https://i.ibb.co/bdSNHgM/white-paper-texture-with-flecks.jpg);
    background-color: rgba(255, 255, 255, 0.7);
    background-size: 900px;
    background-blend-mode: hard-light;
}
a {
    text-decoration: none;
    -webkit-transition: color 0.25s ease-in, background 0.25s ease-in;
    -moz-transition: color 0.25s ease-in, background 0.25s ease-in;
    -o-transition: color 0.25s ease-in, background 0.25s ease-in;
    transition: color 0.25s ease-in, background 0.25s ease-in
}

p {
    line-height: $base-line-height;
}
.module {
    margin: $spacing-unit;
    padding: $spacing-unit;
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);

    img {
      max-width: 100%;
      height: auto;
    }
}

.main-content {
  width: 65%;
  float:right;
  padding:0;

  a {
    color: rgb(153, 153, 153);
    &:hover,
    &:focus {
      filter: brightness(1.2);
    }
  }
  .module {
    margin-left: 0;
  }
}


/*****************************************************************************/
/*
/* Navigation
/*
/*****************************************************************************/

nav {
    background: linear-gradient(135deg, $pink 81%,$pink 82%,$pink 82%,rgb(255, 243, 247) 100%); 
    border-top:60px solid rgb(248, 178, 200);
    border:1px solid #E8E8E8;
    border-bottom-right-radius: 50px 5px;
    display:inline-block;
    a {
      font-family:'Reenie Beanie', cursive;
      font-size: 3rem;
      margin: 1em auto;
      padding: 0.1em;
      // text-shadow: 1px 1px 3px rgb(255, 201, 217);
      
      &:hover,
      &:focus {
        background: rgb(255, 223, 233);
        border: 0;
      }

      &:visited {
        color: black;
      }
  }
  .module {
    padding-top: $spacing-unit;
  }
}

/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/

.main-header {
    width: 35%;
    float: left;
    line-height: 1.7;

    h1 {
      margin: 0;
      font-family:'Reenie Beanie', cursive;
      text-align: center;
      font-size: 4rem;
    }

    .main-title {
      color: #000;
      font-weight: normal;
      padding: .5em;
      &:hover,
      &:focus {
        background: rgb(203, 228, 248);
      }
    }
}

header {
  background: linear-gradient(135deg, $blue 81%,$blue 82%,$blue 82%,rgb(232, 245, 255) 100%);
  border:1px solid #E8E8E8;
  border-top:60px solid rgb(210, 234, 253);
  border-bottom-right-radius: 60px 5px;
}

.contact {
  display: flex;
  max-width: 200px;


  .contact-btn {
    margin: auto;
    font-size: 3rem;
    color: rgb(124, 124, 124);
    padding: .5em;
    border-radius: 5px;

    &:hover,
    &:focus {
      background: rgb(185, 185, 185);
      color: white;
    }
  }
}

.site-description {
  background: linear-gradient(135deg, $yellow 81%,$yellow 82%,$yellow 82%,rgb(253, 253, 218) 100%); 
  border-top:50px solid rgb(253, 255, 127);
  border:1px solid #E8E8E8;
  border-bottom-right-radius: 50px 5px;
  font-family:'Reenie Beanie', cursive;
  font-size: 1.7rem;
}


/*****************************************************************************/
/*
/* Content
/*
/*****************************************************************************/

article {
  p {
    a {
      border-bottom: .125em solid #ccc;
      padding: 0 0 .15em 0;
      display: inline;
      &:hover {
        background: $link-hover;
        border: 0;
        color: #fff !important;
      }
    }
  }
}

time {
    color: #ccc;
    position: absolute;
    top: 0.75em;
    right: 0.75em;
}

hr {
    height: 1px;
    border: 0;
    background: #cccccc;
    margin: 50px 0;
}

pre {
    background: #f7f7f7;
    padding: 0.4em;
}

blockquote {
    position: relative;
    border: .1em solid #ddd;
    border-top-color: #eee;
    border-bottom-color: #bbb;
    padding: $spacing-unit;
    background: #f2f2f2;
    -webkit-box-shadow: 0 1px 4px #ccc, 0 5px 12px -8px #555;
    -moz-box-shadow: 0 1px 4px #ccc, 0 5px 12px -8px #555;
    box-shadow: 0 1px 4px #ccc, 0 5px 12px -8px #555;
}
/*****************************************************************************/
/*
/* Responsive
/*
/*****************************************************************************/

@media (max-width: 850px) {
    body {
        font-size: large;
    }
    .main-header,
    .main-content {
        width: 100%;
        padding: 0.75em;
    }
    .main-header .module {
        margin-left: 0;
    }
    .main-content .module {
        margin-top: 0;
    }
    article.module {
        margin-left: 1.5em;
        margin-right: 0;
    }
    nav {
        text-align: center;
    }
    nav br {
        display: none;
    }
    nav a {
        margin: 0 0.75em;
    }
}
